<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <div class="row" ng-if="isLogged()">
        <hr>
        <div class="col-xs-12">
            <div>
                <textarea class="form-control" name="" id="" rows="10" cols="50" ng-model="model.text" style="max-width: 800px; max-height: 150px;"></textarea>
            </div>
            <button id="send-comment" class="btn btn-primary btn-sm pull-left" ng-click="model.text && sendComment()">Enviar comentario</button>
        </div>
    </div>
    <h3>Comentarios</h3>
    <hr>
    <div class="media-list">
        <comment-item ng-repeat="item in comments" item="item" is-logged="isLogged()"></comment-item>
    </div>
</div>
