<div class="media post">
    <div class="votes">
        <span>3272</span>
        <br>
        <a class="upvote"><i class="glyphicon glyphicon-thumbs-up"></i></a>
        <a class="downvote"><i class="glyphicon glyphicon-thumbs-down"></i></a>
        <br>
    </div>
    <div class="media-body">
        <p class="media-heading">user1&nbsp<span class="small">Hace 18 min</span></p>
        <div class="comment">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo enim, tempora dicta fugit, deserunt aperiam? Aliquid explicabo placeat debitis. Voluptatum doloremque odio quia neque incidunt fugiat dolorum sapiente voluptates. Veniam ullam sed laboriosam a libero minus dignissimos nisi reprehenderit quasi dolores repellat sint distinctio tempora, provident, et expedita earum officiis quia animi vitae enim quisquam obcaecati ab. Sed obcaecati esse voluptatum reiciendis nemo, dolore rerum a consequuntur quod, laborum ad, non beatae est inventore dolorum porro nulla id exercitationem corporis culpa. Earum, consequatur, dignissimos. Natus, provident! Reiciendis perferendis qui temporibus dolore recusandae, ea, repellendus culpa perspiciatis voluptate blanditiis optio laudantium.
        </div>
        <br>
        <p class="commands">
            <button class="btn btn-default btn-sm" ng-click="toggleReply()">Contestar</button>
        </p>
        <div class="row" ng-if="logged()">
            <div class="col-xs-12">
                <div class="comment-panel">
                    <textarea name="" id="" rows="10" cols="200"></textarea>
                </div>
                <button id="send-comment" class="btn btn-default pull-left">Enviar comentario</button>
            </div>
        </div>
    </div>
</div>
