<nav class="navbar navbar-default navbar-inverse" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">BabelReddit</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form id="signin" class="navbar-form navbar-right" role="form" ng-if="!isLogged()" ng-controller="LoginCtrl">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" class="form-control input-sm" name="username" value="" placeholder="Nombre de usuario" ng-model="model.username">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control input-sm" name="password" value="" placeholder="Contraseña" ng-model="model.password">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="login()">Login</button>
                </div>
            </form>
            <button class="btn btn-primary btn-sm navbar-btn navbar-right visible-sm" ng-if="!isLogged()">Crear cuenta</button>
            <p class="navbar-text navbar-right">
                <span class="small hidden-sm" ng-if="!isLogged()">¿No tienes cuenta? Regístrate <a href="#/register">aquí</a></span>
            </p>
            <ul class="nav navbar-nav navbar-right" ng-show="isLogged()" ng-controller="NavbarUserCtrl">
                <li class="dropdown small">
                    <a href="" class="dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-expanded="false">Sesión iniciada como: {{ model.currentuser }}&nbsp<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Suscripciones</a></li>
                        <li class="divider"></li>
                        <li>
                            <button ng-click="logout()">Log out</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
