<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <div class="media post">
        <div class="votes">
            <span>{{post.votes}}</span>
            <br>
            <a><i class="glyphicon glyphicon-thumbs-up upvote"></i></a>
            <a><i class="glyphicon glyphicon-thumbs-down downvote"></i></a>
        </div>
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{{ post.thumbnail }}" alt="..." width="64" height="64">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                        <a href="{{post.link}}" target="_blank">{{ post.title }}</a>
            </h4>
            <p class="small">Creado por {{ post.author.username }} - {{ post.creation_date | ago }}</p>
            <div class="description">
                {{ post.description }}
            </div>
        </div>
    </div>
</div>
