<div class="col-sm-4 col-md-3 col-lg-2" ng-controller="SidebarCtrl">
    <h3 class="visible-lg visible-md visible-sm">Topics</h3>
    <div class="sidebar-nav">
        <div class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Topics</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                    <sidebar-item ng-repeat="item in model.topics" item="item" ng-class="model.getClass({{'item.abrev'}})" get-topic-url="getTopicUrl(topic)"></sidebar-item>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
