header {
	color: #FFF;
	min-height: 150px;
}

body{
    background-color: #525252;
}

.background-wrapper {
    background-image: url('http://cdn.paper4pc.com/images/formula-1-wallpaper-3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.90;
}

.container.dark, .container-fluid.dark{
	background-color: #222222;
    border-color: #080808;
    opacity: 0.98;
    color: #FFF;
}

#content {
	padding: 25px 0px 70px 0px;
	text-align: justify;
}

a:hover{
	text-decoration: none !important;
}

.badge-success {
	background-color: darken(lightgreen, 15%);
}