.post {
    border: 1px solid #222;
    padding: 15px;
    background-color: black;
}

.votes {
    float: left;
    padding-right: 10px;
}

.comment-panel {
    textarea {
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        resize: vertical;
        max-width: 100%;
        color: #222;
    }
}

button#send-comment {
    margin: 20px 0px;
}
